
.form {
  border-radius: $border-radius;
  position: relative;
  button {
    margin: 1.5rem auto 0;
    display: block;
  }
  
  .form-group {
    margin: 0.5rem 0;
    width: 100%;
  
    label {
      display: block;
      .asterisk {
        padding-left: 0.2rem;
        color: $primary-color-dark;
        font-weight: 700;
        font-family: "Inria Sans", sans-serif;
        font-size: 1.1rem;
        line-height: 1;
      }
    }
    input, textarea {
      box-sizing: border-box;
      display: block;
      width: 100%;
      background-color: $background-color-primary;
      border: 0px solid $primary-color-light;
      border-bottom-width: 3px;
      padding: 0.5rem 0.75rem;
      border-radius: $border-radius;

      &:disabled {
        background-color: $disabled-color;
      }

    }
    textarea {
      resize: vertical;
      min-height: 200px;
      max-height: 80vh;
    }
  }
}


button, .button {
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: $border-radius;
  width: fit-content;
  border: none;
  color: $text-color-primary;
  background-color: $primary-color-light;
  
  font-weight: bold;
  transition: 0.1s ease color, 0.1s ease background-color;

  &:disabled {
    background-color: $disabled-color;
    color: $disabled-text-color;
  }
  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      color: $background-color-secondary;
      background-color: $primary-color-dark;
    }
  }
  
}

.form-overlay {
  position: absolute;
  background-color: $background-color-secondary;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  padding: 10% 3rem 1rem;

  p {
    font-size: 1.1rem;
    line-height: 2;
  }
}