.page-main {
  position: relative;
  z-index: 2;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.grid-layout {
  img {width: 100%;}
  > .content {
    display: grid;
  grid-template-columns: repeat(10, 1fr);
  }
  
}

@media all and (max-width: $layout-breakpoint-tablet) {
  .grid-layout {
    > .content {
      display: grid;
    grid-template-columns: repeat(6, 1fr);
    }
    
  }
}


@media all and (max-width: $layout-breakpoint-mobile) {
  .grid-layout {
    > .content {
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    }
    
  }
}