nav.top-nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;


  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    &.active {
      border-color: $primary-color-light;
    }
  }

  .nav-item > a {
    padding: 1rem;
  }

  .dropdown-toggle {
    position: relative;
    
    a {
      display: flex;
      gap: 0.5rem;
      svg {
        fill:   $text-color-primary;
        stroke: $text-color-primary;
        transition: fill 0.1s ease, stroke 0.1s ease;
      }
      &:hover {
        svg {
          fill:   $primary-color-dark;
          stroke: $primary-color-dark;
        }
      }
    }

    ul.dropdown-menu {
      padding: 1rem 1.5rem;
      background-color: $background-color-secondary;
      list-style: none;
      position: absolute;
      z-index: 10;
      margin-top:0;

      transform: translate(-50%, 0);
      left: 50%;
      width: max-content;
      
    }
  }
  
  
}

