.contact-page {

  &.grid-layout {
    .contact-info {
      grid-column: 1 / 4;
    }
    .form-section {
      grid-column: 6 / 11;
      grid-row: 1 / 3;
    }
  }


  .contact-form {
    background-color: $background-color-secondary;
    padding: 2rem 3rem;
  }
}


@media all and (max-width: $layout-breakpoint-laptop) {

}

@media all and (max-width: $layout-breakpoint-tablet) {
 
}

@media all and (max-width: $layout-breakpoint-mobile) {
 
}