
.home-page {
  &.grid-layout {
    .header {
      grid-column: 1 / 6;
    }
    .headshot {
      grid-column: 8 / 11;
      grid-row: 1 / 3;
      img {
        width: 100%;
      }
    }
    .about-content {
      grid-column: 1 / 6;
    }
  }
}


@media all and (max-width: $layout-breakpoint-laptop) {
  .home-page {
    &.grid-layout {
      .header {
        grid-column: 1 / 6;
      }
      .headshot {
        grid-column: 7 / 11;
        grid-row: 1 / 3;
        img {
          width: 100%;
        }
      }
      .about-content {
        grid-column: 1 / 6;
      }
    }
  }
}




@media all and (max-width: $layout-breakpoint-tablet) {
  .home-page {
    &.grid-layout {
      .header {
        grid-column: 1 / 7;
      }
      .headshot {
        grid-column: 1 / 7;
        grid-row: auto;
        img {
          width: 100%;
        }
      }
      .about-content {
        grid-column: 1 / 7;
      }
    }
  }
}


@media all and (max-width: $layout-breakpoint-mobile) {
  .home-page {
    &.grid-layout {
      .header {
        grid-column: 1 / 5;
      }
      .headshot {
        grid-column: 1 / 5;
        grid-row: auto;
        img {
          width: 100%;
        }
      }
      .about-content {
        grid-column: 1 / 5;
      }
    }
  }
  
}