$background-color-primary: #fafafa;
$background-color-secondary: #fff;

$primary-color-light: #FCD5E1;
$primary-color-dark: #EC5C86;

$text-color-primary: #494744;

$disabled-color: #eee;
$disabled-text-color: #918f8d;

$border-radius: 6px;


$layout-breakpoint-laptop: 1000px;
$layout-breakpoint-tablet: 767px;
$layout-breakpoint-mobile: 480px;