$background-color-primary: #fafafa;
$background-color-secondary: #fff;

$primary-color-light: #f5cfcf;
$primary-color-dark: #ec5c5c;

$text-color-primary: #494744; //Value hard-coded in MenuToggle.tsx. Update both values if color is changing

$disabled-color: #eee;
$disabled-text-color: #918f8d;

$border-radius: 6px;


$layout-breakpoint-laptop: 1000px;
$layout-breakpoint-tablet: 767px;
$layout-breakpoint-mobile: 480px;